.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: "Roboto Mono", monospace;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary_1;
    z-index: 2;
  }

  &_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &_logo {
    flex: 0 0 60px;
    position: relative;
    z-index: 3;
  }

  &_logo img{
    max-width: 100%;
  }

  &_burger {
    display: none;
  }

  &_list {
    display: flex;
    position: relative;
    z-index: 2;
  }

  &_list li{
    margin: 0px 0px 0px 40px;
  }

  &_link {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    @include link;
  }
  @media (max-width:768px) {
    &_body{
      height: 50px;
    }

    &_logo{
      flex: 0 0 40px;
    }
    &_link {
      font-size: 25px;
    }

    &_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
      cursor: pointer;
    }

    &_burger span {
      position: absolute;
      background-color: black;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }

    &_burger::before ,
    &_burger::after {
      content: "";
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }

    &_burger::before{
      top: 0;
    }

    &_burger::after{
      bottom: 0;
    }

    &_burger.active::before{
      transform: rotate(45deg);
      top: 9px;
    }

    &_burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
    }
    
    &_burger.active span{
      transform: scale(0);
    }

    &_menu {
      position: fixed;
      top: -120%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $primary_2;
      padding: 70px 10px 20px 10px;
      margin: 0 auto;
      transition-duration: 0.6s;
    }

    &_menu.active {
     top: 0;
    }

    &_list{
      display: block;
    }

    &_list li{
      margin: 0px 0px 20px 0px;
    }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}
}

